@media only screen and (max-width: 600px) {
	.w-20 {
        width:100%!important;
        margin:5px 0px;
    }

    .expand-sc {
    	width: 60%;
    	margin:10px;
    }

    .justify-content-md-center {
	    -ms-flex-pack: center!important;
	    justify-content: center!important;
	}
}

.w-20 {
	width: 20%;
}

html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
}

.bg-whites {
	background-color:#ffffffeb;
}

.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
}

.wind .dir {
	display:inline-block;
	width:1em;
	height:1em;
	background:url('https://www.metaweather.com/static/img/windarrow.svg');
	background-size: 100% 100%;
}

.bg-body {
	background: #2193b0;
	background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);
	background: linear-gradient(to top, #6dd5ed, #2193b0); 
}

.wind .dir-nne {transform: rotate(22.5deg)}
.wind .dir-ne {transform: rotate(45deg)}
.wind .dir-ene {transform: rotate(67.5deg)}
.wind .dir-e {transform: rotate(90deg)}
.wind .dir-ese {transform: rotate(112.5deg)}
.wind .dir-se {transform: rotate(135deg)}
.wind .dir-sse {transform: rotate(157.5deg)}
.wind .dir-s {transform: rotate(180deg)}
.wind .dir-ssw {transform: rotate(202.5deg)}
.wind .dir-sw {transform: rotate(225deg)}
.wind .dir-wsw {transform: rotate(247.5deg)}
.wind .dir-w {transform: rotate(270deg)}
.wind .dir-wnw {transform: rotate(292.5deg)}
.wind .dir-nw {transform: rotate(315deg)}
.wind .dir-nnw {transform: rotate(337.5deg)}
